#left #tl_navigation a.navigation {
    padding-left: 20px !important;
}
#left #tl_navigation a.navigation.icon {
    padding-left: 0 !important;
}

#left #tl_navigation a.navigation.icon i{
    display: inline-block;
    width: 15px;
    text-align: center;
    padding-right: 5px;
}

#left #tl_navigation .tl_level_1_group i {
    margin-right: 5px;
}

.icon {
    background-image: none !important;
    font-size: 0.9em;
}

.tl_listing .tl_left i{
    text-indent: 0;
    margin-top: 1px;
    font-size: 1.3em;
    display: inline-block;
}

.tl_listing .tl_folder_top .tl_left i {
    margin-bottom: 2px;
}

.icon.cte_type.unpublished {
    background-image: none;
    padding-left: 0;
}

.icon-large {
    opacity: 0.8;
}

.fa.margin {
    margin-top: 2px;
}

.fa-disabled {
    opacity: 0.4;
}

.icon[class^="header_"] {
    padding-left: 0px;
}

.tl_content_right i,
.tl_right i,
.tl_content_header i,
.tl_right_nowrap i {
    width: 16px !important;
    height: 12px;
    text-align: center;
    padding-bottom: 0;
    display: inline-block;
}